body{
    background-size:cover;
}
h1{
    padding-top: 10%;
    font-weight: 900;
    font-style: oblique;
    
}

div{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(218, 242, 246);
    border: 30%;
    border-style:double;
    border-radius:1%;
}